.header-bottom {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16em;
  height: 10vh;
  min-height: 10vh;
  z-index: 1000; 
  background-color: rgb(245, 242, 242);
  box-sizing: border-box;
  flex-direction: row;
  
}

.buscar {
  border-radius: 15px;
  width: 30vw;
  height: 4vh;
  border: 1px transparent;
}

.iconos {
  height: 6vh;
  width: 27vw;
  gap: 2em;
  display: flex;
  align-items: center;
}
