.header {
  width: 100%;
  position: relative;
}

.header-top {
  background-color: #ffdd00;
  height: 6vh;
  z-index: 2;
}

.header-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14em;
  height: 10vh;
  z-index: 1;
  background-color: rgb(245, 242, 242);
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  transition: top 0.3s ease;
}

.sticky {
  position: fixed;
  top: 0;
}

.buscar {
  border-radius: 15px;
  width: 25vw;
  height: 4vh;
  border: 1px solid transparent;
}

.iconos {
  height: 6vh;
  width: 28vw;
  gap: 2em;
  display: flex;
  align-items: center;
}

.main {
  width: 100%;
  height: 100vh;
  text-align: center;

  .contenedor-circulos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30vh;
    gap: 8em;
    list-style-type: none;

    .circulo {
      border: 1px solid;
      width: 15vw;
      height: 30vh;
      border-radius: 50%;

      .imagen-categoria {
        width: 15vw;
        height: 30vh;
        border-radius: 50%;
      }
      
    }



  }
}


  
  